.PlayerControls{
  border: $border-large;
  border-top: 0;
  &__btn{
    @include control-btn;
  }
  &__progress-bar{
    cursor: pointer;
    border-bottom: $border-medium;
    position: relative;
    height: 20px;
    &__fill{
      background-color: $c_main;
      height: 100%;
      transition: width .2s ease-in;
    }
  }
}