.Player{
  box-sizing: border-box;
  border-bottom: $border-large;
  border-top: $border-large;
  width: 100%;
  @media screen and (min-width: $beta_query) {
    border: $border-large;
  }
  &__video{
    top: $b-large_width;
    width: 100%;
  }
}